<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>

    <!-- Vue.js에서 자주 사용되는 문법
        v-model
        v-on
        v-bind
        v-for
        v-if
    
    1.v-model
    form의 input,textarea,select에서 사용하는 입력형식의 바인딩

    결과 : input 박스안에 입력을하면 p태그에 자동으로 문자가 들어감

        1) input 태그에 value로 값을 넣어도 무시한다는 점
        2) checked와 selected도 마찬가지로 무시
        3) data 에서 변수명을 초기화하지않으면 에러가 남
    -->
    <div id="test">
        <input type="text" v-model="stringData">
        <p>data : {{stringData}}</p>
    </div>
    <hr>
<script>
    new Vue({
        el:"#test",
        data:{
            "stringData":""
        }
    })

</script>

    <!-- 
    2.v-on
    이벤트관련 디렉티브 

    여기선 click 이벤트를 이용했지만 다양한 이벤트가 있음
    그리고 v-on은 @로 대신하여 사용가능
    ex)v-on:click => @click
    -->

    <div id="test2">
        <button @click="upCount">버튼</button>
        <p>현재카운트:{{count}}</p>
    </div>
    <hr>
    <script>
    new Vue({
        el:"#test2",
        data:{
            count:0
        },
        methods:{
            upCount:function(){
                this.count++;
            }
        }
    })
    </script>

    <!--
    3.v-bind
    ?(여러가지)를 바인딩합니다.
    ?의 대표적인예로 class , id , style 등이 있습니다


    결과값에서 클래스를보면 first-Class가 되어있는것을 확인
    이외에도 다양한 값을 바인딩 할 수 있음

    그리고 이번에도 약어로 사용가능
    ex)v-bind:class=> :class
    -->

    <div id="test3">
        <div :class="firstClass">클래스확인!!</div>
    </div>

    <script>
    new Vue({
        el:"#test3",
        data:{
            firstClass:"first-class"
        }
    })
    </script>

    <!--
    4. v-for
       for문은 아니고 foreach문이라고 보면 적절  
       
       결과 첫번째 두번재 변수는 name:a , name:b 지만,
       세번째 변수는 data:c 이다.

       vue.js에서 v-for는 값이 없는경우 error를 내지않고 무시해버린다는 특징

    -->

    <div id="test4">
        <div v-for="(item,index) in items">
        {{index}}:{{item.name}},{{item.data}}
        </div>
    </div>

    <script>
    new Vue({
        el:"#test4",
        data:{
            items:[{name:"a"},{name:"b"},{data:"c"}]
        }
    })
    </script>

    <!-- 5.v-if
        if문도 프로그래밍에서 자주사용되는 if문


        결과값을 보면 알수있듯이 input에 값을 넣음으로써 유동적으로 값이 변함
        vue의 if문을 사용하면 귀찮은 처리도 손쉽게 할수있음
    -->
    <div id="test5">
        <input type="text" v-model="count">
        <div v-if="count>4">4보다 큰수 입니다.</div>
        <div v-else-if="count==4">4입니다</div>
        <div v-else>4보다 작습니다.</div>
    </div>

    <script>
    new Vue({
        el:"#test5",
        data:{
            count:4
        }
    })
    
    </script>
</body>
</html>